/* CSS! */

body
{
	background-color: #eeeeee;
}

div.navbar-inner a
{
	width: 90px;
}

div.post
{
	margin-bottom: 45px;
}

div.posts-container
{
	background-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

h1.post-title
{
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}

p.post-date
{
	font-size: 13px;
	line-height: 22px;
	font-style: italic;
	text-align: center;
}

.post-content h1
{
	font-size: 22px;
	line-height: 36px;	
}

.post-content h2
{
	font-size: 18px;
	line-height: 22px;	
}

.post-content h3
{
	font-size: 16px;
	line-height: 20px;	
}

.post-content h4
{
	font-size: 14px;
	line-height: 20px;	
}

.post-content p
{
	text-align: justify;
}

.post-content img
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.page_nav > div
{
	vertical-align:	middle;
	margin-top:		10px;
	margin-bottom:	10px;
}