---

layout: default
title: Distracted Engineer
tagline: A view on anything from an easily distracted engineer

---

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ site.title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ site.tagline }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

	
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{% if paginator.page != 1 %}
						{% if paginator.previous_page %}
				<!-- Pager -->
                <ul class="pager">
                    <li class="next">
							{% if paginator.previous_page == 1 %}
								<a href="/">&larr; Newer Posts</a>
							{% else %}
								<a href="{{ site.path }}{{ paginator.previous_page_path }}">&larr; Newer Posts</a>
							{% endif %}
                    </li>
                </ul>
						{% endif %}
				{% endif %}
				
				{% for post in paginator.posts %}
                <div class="post-preview">
                    <a href="{{ site.path }}{{ post.url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.content | strip_html | truncate 600 }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{site.author}} on September 24, 2014</p>
                </div>
                <hr>
				{% endfor %}
	
				{% if paginator.next_page %}
				<!-- Pager -->
                <ul class="pager">
                    <li class="next">
						<a href="{{ site.path }}{{ paginator.next_page_path }}">Older Posts &rarr;</a>
                    </li>
                </ul>
				{% endif %}

			</div>
		</div>
	</div>
