<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ site.path }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ site.path }}/css/default.css" rel="stylesheet" media="screen">
		{% include ga.html %}
	</head>
	<body>
		{{ content }}
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ site.path }}/js/bootstrap.min.js"></script>
	</body>
</html>